<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <style type="text/css">
    	ul li{
			list-style:none; 
			padding-right:10px;
			float:left;   	
    	}
    </style>
    <body>
        <h1 th:inline="text">thymeleaf Test</h1>
        <p th:text="${hello}"></p>  
        <a href="/index">index</a>
        <h3 shiro:guest><a href="login.html">login</a></h3>
        <h3 shiro:hasRole="admin">admin will see</h3>
        <h3 shiro:hasRole="user">user will see</h3>
        <h3 shiro:authenticated>Welcome <shiro:principal property="nickname"/> <!-- <shiro:principal> --></h3>
        <table>
        	<tr>
        		<td>nickname</td>
        		<td>pswd</td>
        	</tr>
        	<tr th:each="user:${userlist}">
        		<td th:text="${user.nickname}"></td>
        		<td th:text="${user.pswd}"></td>
        	</tr>
        </table>
     	 <div th:utext="${pd.pageStr}"></div>
     	 <!-- <h1 th:include="common/layout:: #layout"></h1> -->
    </body>
	<script th:inline="javascript">
		var url = window.location.href;
		var arr = url.split("?");
		var ar = arr[0];
		function nextPage(page){
			window.location.href=ar+"?currentPage="+page;
		}
		function toTZ(){
			var toPaggeVlue = document.getElementById("toGoPage").value;
			if(toPaggeVlue == ''){document.getElementById("toGoPage").value=1;return;}
			if(isNaN(Number(toPaggeVlue))){document.getElementById("toGoPage").value=1;return;}
			if(toPaggeVlue > [[${pd.totalPage}]]){toPaggeVlue = [[${pd.totalPage}]];}
			if(toPaggeVlue < 1){toPaggeVlue = 1;}
			nextPage(toPaggeVlue);
		}
	</script>
</html>