<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysAppUserMapper">
		
	<select id="listPageUser" parameterType="Page" resultType="pd">
	  SELECT 
		  *
	  FROM
		  u_user

	</select>
		<!-- 获取用户角色-->
	<select id="findRoleByUid"  resultType="com.example.demo.entity.URole">
		SELECT role.id,role.name from u_user_role urole left join u_role role on urole.rid = role.id where urole.uid = #{id}
	</select>

	<!-- 获取用户权限-->
	<select id="findPermissionByUid"   resultType="com.example.demo.entity.UPermission">
		SELECT p.* from u_user_role urole left join  u_role_permission rp   on urole.rid=rp.rid  left join  u_permission p on p.id = rp.pid  where urole.uid = #{id}
	</select>
	
	<!--根据主键获取数据-->
	<select id="findByName" resultType="com.example.demo.entity.UUser">
		select <include refid="AllColumnlist"/> from u_user
		<where>
			nickname=#{nickname}
		</where>
	</select>
	
	<!-- 全部字段，一般用于明细查询 -->
	<sql id="AllColumnlist">
	 id,nickname,email,pswd,create_time,last_login_time,status
	</sql>
</mapper>